# H1 :Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. c++ 
2. JAVA
3. R 
4. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. Keras
2. NumPy
3. Pandas
4. Matplotlib
5. SciPy
6. SciKit-Learn

|Data Sicience Tools |
| ------ | 
|Apache Hadoop| 
|IBM CLOUD | 
|Google Could | 
|Grapes |

# h3 Below are a few examples of evaluating arithmetic expressions in Python

<details><summary>Click here for the solution</summary>

```python
(3*4)+5

```

</details>

This a simple arithmetic expression to mutiply then add integers

=17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [23]:
200/60

3.3333333333333335

**Objective:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well known Data Science Tools
* How to Provide comments in the cell

## Author

[Mario Bustamante](https://www.linkedin.com/zionperuclub)